.theme-gui-dark {
    // Default settings
}

.theme-controls-light {
    // Default settings
}

.theme-gui-light {
    background: $lightThemeBackground;

    #title {
        color: $lightThemeMainTextColor;
    }

    #menu {
        background: $lightThemeMenuBackground;
        color: $lightThemeMenuItemTextColor;

        li {
            button[type="button"] {
                color: $lightThemeMenuItemTextColor;

                &:hover {
                    background: $lightThemeMenuItemHoverBackground;
                    color: $lightThemeMenuItemHoverTextColor;
                }
            }

            li:hover {
                background: $lightThemeMenuItemHoverBackground;
                color: $lightThemeMenuItemHoverTextColor;
            }
        }
    }

    .btn {
        border-color: $lightThemeButtonBorder;
        background: $lightThemeButtonBackground;
        color: $lightThemeButtonTextColor;
    }

    #tabs {
        background: $lightThemeBackground;

        .ui-tabs-nav {
            background: $lightThemeBackground;
            border: $lightThemeBackground;

            li {
                background: $lightThemeButtonBackground;

                a {
                    color: $lightThemeButtonTextColor;
                }
            }
        }
    }
}

.theme-controls-dark {
    .input {
        background: $darkControlsInputBackground;
        color: $darkControlsTextColor;
    }
    
    .jexcel > div > table > thead > tr > td {
        background: $darkControlsTableColumnHeaderBackground;
    }
    .jexcel > div > table > tbody > tr > td:first-child {
        background: $darkControlsTableRowHeaderBackground;
    }
    tr > td {
        background: $darkControlsInputBackground;
        color: $darkControlsTextColor;
    }
    
    .jexcel .highlight {
        background: $darkControlsTableCellHighlightBackground;
    }
}
