
$mainBackground: #111;
$mainTextColor: #eee;

$mainInputBorderColor: #ddd;

$buttonBorder: #eee;
$buttonBackground: #111;
$buttonTextColor: #eee;
$buttonHoverTextColor: lightskyblue;


$menuWidth: 25%;
$menuBackground: #111;
$menuBorder: rgba(#444, 0.8);
$menuItemTextColor: $mainTextColor;
$menuItemHoverBackground: rgba(#222, 0.7);
$menuItemHoverTextColor: lightskyblue;

$overlayBackground: #000;

// $contextmenuBorder: #777;
// $contextmenuBackground: #e3e3e3;

// $contextmenuItemHoverBorder: #999;
// $contextmenuItemHoverBackground: #d8d8d8;

// $nodeChoiceBackground: salmon;

/* ------------- Theme Variables ------------- */


/* Light Interface */
$lightThemeBackground: #fff;
$lightThemeMainTextColor: #000;

$lightThemeButtonBorder: #000;
$lightThemeButtonBackground: #fff;
$lightThemeButtonTextColor: #000;

$lightThemeMenuBackground: $lightThemeBackground;
$lightThemeMenuItemTextColor: $lightThemeMainTextColor;
$lightThemeMenuItemHoverBackground: #ccc;
$lightThemeMenuItemHoverTextColor: #000;

/* Dark Controls */
$darkControlsTextColor: #eee;

$darkControlsInputBackground: #111;

$darkControlsTableColumnHeaderBackground: #555;
$darkControlsTableRowHeaderBackground: #333;
$darkControlsTableCellHighlightBackground: #888;
