@import 'reset';
@import 'variables';
@import 'menu';
@import 'forms';
@import 'jqueryui.extend';
@import 'jexcel.extend';
@import 'themes';

* {
    box-sizing: border-box; 
}

a {
    text-decoration: none;
}

html, body { 
    background: $mainBackground;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: $mainTextColor;

    width: 100%;
    height: 100%;
}

#title {
    font-size: 19px;
    font-weight: 600;
    // text-transform: uppercase;

    position: absolute;
    top: 8px;
    left: 40px;

    transition: left 300ms ease-in;
}

#content {
    position: absolute;
    width: 100%;
    padding-top: 35px;
    left: 0;

    transition: left 300ms ease-in, width 300ms ease-in;

    &.menu-open {
        width: 100 - $menuWidth;
        left: $menuWidth;

        #title {
            left: 0;
        }
    }
}

.autosave, 
.template {
    cursor: pointer;

    a {
        display: block;
    }

    padding: 7px 10px 9px;
    overflow: hidden;

    &:hover, a:hover {
        background: $menuItemHoverBackground;
        color: $menuItemHoverTextColor;
    }

    .autosave-delete {
        color: rgb(146, 13, 13);
        float: right;

        &:hover {
            color: red;
        }
    }
}

// // .dialog { 
//     display: none;

//     label, input { 
//         display:block; 
//     }

//     label { 
//         margin-top: 0.5em; 
//     }
//     input, textarea { 
//         width: 95%; 
//     }
// }